html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}



ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*Start*/
header{
    margin-bottom: 20px;
}

.heading {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 36px;
    padding-top: 35px;
    text-align: center;
}

.button_header{
    display: flex;
    justify-content: space-around;

}

.text_brends{
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    color:#77716a;
    background-image: linear-gradient(90deg, #77716a 50%, rgba(0, 0, 0, 0) 0);
    background-position: 0px 1.0em;
    background-repeat: repeat-x;
    background-size: 4px 2px;
}

.card {
    margin-bottom: 20px;
    padding-right: 20px;
    border: 1px solid #ededed !important;
    border-radius: 0 !important;
}

.card-img-wrapper {
    position: relative;
    display: flex;
    margin: 0 auto;
    height: 230px;
    width: 100%
}

.card-img-top {
    width: 100%;
    height: 230px;
    margin: auto;
    /* max-width: 300px;
    max-height: 200px; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.card-data{
    display: flex;
    flex-direction: column;
}

.card-sort{
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    color:#3c2f20;
    padding-top: 15px;
}

.card-title{

    font-family: 'Exo 2', sans-serif;
    color:#3c2f20;
    margin-bottom: 18px;
    cursor: pointer;
    
}

.card-title:hover{
    color:#5b84f0;
    transition: all 0.3s ease-in-out;
}

.card-title span:first-child {
    font-size: 30px;
    color:inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0;
    background-image: linear-gradient(90deg, #77716a 50%, rgba(0, 0, 0, 0) 0);
    background-position: 0px 1.0em;
    background-repeat: repeat-x;
    background-size: 4px 2px;
}

.card-title span:last-child{
    font-size: 20px;
    color:inherit;
    background-image: linear-gradient(90deg, #77716a 50%, rgba(0, 0, 0, 0) 0);
    background-position: 0px 1.0em;
    background-repeat: repeat-x;
    background-size: 4px 2px;
}

.card-description {
    overflow: hidden;
    font-size: 16px;
    line-height: 1.38;
    padding-bottom: 6px;
    padding-top: 10px;
    position: relative;
    z-index: 4;
    color:#1d1813;
    text-align: left;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-price {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: .3px;
}




/* 481 - 768 px */
@media screen and (max-width: 768px) {
    .card-title span:first-child{
        font-size: 26px;
    }
    .card-title span:last-child{
        font-size: 16px;
    }
    .card-data{
        text-align: center;
    }
    .card-description{
        text-align: center;
    }
}

/* 481 - 768 px */
@media screen and (max-width: 575px){
    .button_header {
        flex-direction: column;
        justify-content: center;
    }
    .button_header div{
        margin-bottom: 20px;
    }
}